{% if question %}
<a href="{% url 'polls:index' %}">Polls List</a> > Detail {{ question.id }}: {{ question.question_text }}
{% else %}
    <p>Question not exist.</p>
{% endif %}

<h1>{{ question.question_text }}</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}

<form action="{% url 'polls:vote' question.id %}" method="post">

{% if question.choice_set.all|length != 0 %}
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
        <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}">
        <label for="choice{{ forloop.counter }}">{{ choice.choice_text }}</label><br>
    {% endfor %}

    <p><input type="submit" value="Vote"></p>
{% else %}

    <p>Choice not exist.</p>

{% endif %}
</form>
